<div class="sizechart-quickview__container">
  <div class="sizechart-quickview__container-inner-wrapper">
    <div class="slideout__trigger--close slideout__trigger-quickview__wrapper">
      <button class="slideout__trigger-quickview js-modal-close" aria-controls="quickview" aria-label="Close quickview" tabindex="0" type="button" name="button">
        <div class="icn-close"></div>
      </button>
    </div>
    <div id="women" class="content-wrapper">
      <img src="{{ 'women1.jpg' | asset_url }}">
      <img src="{{ 'women2.jpg' | asset_url }}">
    </div>
    <div id="men" class="content-wrapper">
      <img src="{{ 'men1.jpg' | asset_url }}">
      <img src="{{ 'men2.jpg' | asset_url }}">
    </div>
  </div>
</div>
