{%- liquid

  assign section_banner = false

  if section.settings.image != blank
    assign section_banner = true
  endif

  if section.settings.image == blank and template contains 'article' and article.image != blank
    assign section_banner = true
  endif

  case template
  when '404'
    assign heading = 'general.404.title' | t
  when 'search'
    assign heading = 'general.search.title' | t
  when 'list-collections'
    assign heading = 'collections.general.all_collections' | t
  when 'blog'
    assign heading = blog.title
  when 'article'
    assign heading = article.title
endcase

if template contains 'page'
  assign heading = page.title
endif

-%}


  <section class="global__section collection__section--banner collection__banner-{{ section.id }} parallax lazyload lazyload-fade gridlock-fluid mt0"
  data-section-type="parallax-section"
  data-scale="1.3"
  data-aos="fade"
  data-section-id="{{ section.id }}" >
    <div class="row">
      {%- if section_banner -%}
      <div class="parallax__container">
        <div class="collection__banner-image parralax__image">
          {%- if section.settings.image == blank and template contains 'article' and article.image != blank -%}
            {% render 'basic-responsive-image', type:  article.image %}
          {%- else -%}
            {% render 'basic-responsive-image', type:  section.settings.image %}
          {%- endif -%}
        </div>
      </div>
      {%- endif -%}
      <div class="grid__wrapper hero__title{% if section_banner %} has_banner{% endif %}">
        <div class="span-12 auto">
          <h1 class="section__page-title"
            aria-label="{{ heading }}">
            {{ heading }}
          </h1>
        </div>
      </div>
    </div>
  </section>
  <div class="clear"></div>


{% schema %}
{
  "name": "Banner header",
  "settings": [
    {
      "type":"paragraph",
      "content":"Shows the title of the current page. Add a background image and the title will overlay that."
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background image",
      "info": "1920px x 600px recommended"
    }
  ]
}
{% endschema %}
