<section class="section-main-404 global__section row grid__wrapper">
  <div class="span-12 auto">
    <p>{{ 'general.404.subtext' | t }}</p>

    <div class="404__search">
      <h3 class="center">{{ 'general.search.title' | t }}</h3>
      <div id="search-bar">
        <form action="{{ routes.search_url }}" method="get">
          <input type="text" name="q" id="q" placeholder="{{ 'general.search.placeholder' | t }}" />
          {% if settings.search_show_products_only %}
            <input type="hidden" name="type" value="product">
          {% endif %}
          <button type="submit" class="search-button">
            {% render 'snip-icons',
               wrapper: '.slideout__trigger-search',
               type: 'apollo',
               icon: 'search',
               classes: 'vib-center',
               size: '14px',
               fill: 'var(--cart-links)',
               hover: 'var(--cart-links)' %}
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
